main {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h2 {
font-family: 'Lighthaus';
font-size: 50px;
font-weight: 400;
line-height: 53px;
letter-spacing: 0em;
text-align: left;

@media(max-width:1350px) {
    width: 100%;
    font-size: 35px;
}

@media(max-width:960px) {
    font-size: 30px;    
}

@media(max-width:460px) {
    font-size: 25px;
    margin-bottom: 5px;    
}

}

.section_type_product {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 74%;

        @media(max-width:400px) {
            width: 100%;
        }
      
        .catalog_pr {
            width: 100%;
            display: flex;
            justify-content: start;
            margin-bottom: 30px;
            flex-wrap: wrap;

            .tabs_nav-btn{
                width: 25%;
                display: flex;
                justify-content: center;
                background: transparent;
                border: none;

                @media(max-width:1100px) {
                    width: 50%;
                }
                
                @media(max-width:450px) {
                    width: 100%;
                }
                
                .product_catalog {
                    position: relative;
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    cursor: pointer;
                    border: 1px solid transparent;

                    &:hover {
                        box-shadow: 0px 0px 20px 1px grey;
                    }

                    img {
                        width: 100%;
                    }

                    .name_product {
                        text-align: center;
                        position: absolute;
                        bottom: 15px;
                        color: white;
                        font-family: 'Mont';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 96.4%;
                        align-items: center;
                        text-align: center;
                        transition: 0.5s;

                        @media(max-width:692px) {
                            font-size: 16px;
                            margin: 0px 10px;
                        }
                    }
                }
            }
        }

        .wrapper_search {
            width: 95%;
            display:flex;
            justify-content: space-between;
        }

        .wrapper_sort{
            display: flex;
            margin-bottom: 30px;
        }

        .line {
            width: 100%;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }
    }
}

.section_new {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .tabs_content {
        width: 74%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @media(max-width:535px) {
           width: 80%;
        }
        
        .tabs_item{
            display: none;
        }
       
        .tabs_item.active {
            width: 100%;
            display: flex;
            min-width: 0;  
            flex-wrap: wrap;

            @media(max-width:488px) {
              justify-content: center;
            }
        
            .wrapper {
                width: 33.3%;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                @media(max-width:803px) {
                    width: 50%;
                }

                @media(max-width:490px) {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                @media(max-width:487px) {
                    width: 80%;;
                }
    
                .card {
                    position: relative;
                    width:91%;
                    cursor: pointer;
        
                    .sale {
                        position: absolute;
                        top: 20px;
                        left: 0px;
                        width: 84px;
                        height: 36px;
                        background-color: #9B0000;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    
                    img {
                        width: 100%;
                    }
        
                    .price {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        @media(max-width:490px) {
                           flex-direction: column;
                           align-items: center;
                           justify-content: center;
                           text-align: center;
                        }
                        
                        h3 {
                            width: 60%;
                            margin-bottom: 0px;
                            font-family: 'Mont';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 96.4%;

                            @media(max-width:1125px) {
                                font-size: 18px;
                                 
                            }

                            @media(max-width:904px) {
                                font-size: 16px;  
                            }

                              @media(max-width:490px) {
                               width: 100%;   
                            }
                        
                        }
        
                        .price_product {
                            display: flex;
                            width: 50%;
                            justify-content: end;
                            font-family: 'Mont';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 30px;
                            line-height: 96.4%;

                            @media(max-width:1260px) {
                                font-size: 18px;
                            }

                            @media(max-width:904px) {
                                font-size: 16px;   
                            }

                            @media(max-width:490px) {
                                width: 100%;
                                text-align: center;
                                justify-content: center;
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.heard {
    width: 50px;
    height: 63px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_page {
          
    .home {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 18px;
        font-family: "Mont";
        font-weight: 600;
        color: black;
    }
    
    .catalog_btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 18px;
        font-family: "Mont";
        font-weight: 800;
        color:black;
    }
}


