body {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1000;
    background: url(/catalog/Img/Header.png);
    
        .container {
            width: 73%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding-top: 25px;
            padding-bottom: 40px;
           

            .white_btn {
                position: absolute;
                top: 0px;
                right: 300px;
                display: flex;
                justify-content: center;
                z-index: 999;
                
                .white {
                    position: relative;
                    z-index: 1000;
                    width: 40px;
                    height: 75px;
                    margin-right: 5px;
                    padding: 0px;
                    border: none;

                    svg {
                        padding-top: 20px;
                        cursor: pointer;
                        
                    }
                }
            }

        .logo {
            width: 17%;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        nav {
            width: 47%;
            text-align: end;
            padding-top: 22px;

            ul {
                width: 100%;
                display: flex;
                padding: 0px;
                justify-content: space-between;
                align-items: flex-end;
                margin: 0px;
                align-items: center;

                li {
                    list-style-type: none;
                    display: flex;
                    align-items: flex-end;

                    a {
                    text-decoration: none;
                    color:white;
                    font-family:'MontLite';
                    font-size: 14px;
                    font-weight: 400;
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    transition: 0.3s;

                        &:hover {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }
    }
}