@import url(/catalog/header.css);
@import url(/catalog/catalog_main.css);
@import url(/Index/footer.css);
@font-face {
    font-family: "Mont";
    src: url(/fons/MontSemiBold.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Lighthaus";
    src: url(/fons/lighthaus.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "MontLite";
    src: url(/fons/MontLight.ttf);
    font-weight: 400;
  }