main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fffbfb;
}
main .container {
  width: 74%;
}
@media (max-width: 640px) {
  main .container {
    width: 80%;
  }
}
@media (max-width: 540px) {
  main .container {
    width: 95%;
  }
}
main h2 {
  font-family: "Lighthaus";
  font-size: 50px;
  font-weight: 400;
}
@media (max-width: 1250px) {
  main h2 {
    width: 100%;
    margin-top: 0px;
    font-size: 35px;
  }
}
@media (max-width: 960px) {
  main h2 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  main h2 {
    font-size: 25px;
    margin-bottom: 5px;
  }
}

.characteristics {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.characteristics .name_product {
  font-family: "MontLite";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #A1A1A1;
  display: flex;
  align-items: center;
}
.characteristics .summ {
  font-family: "MontLite";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #A1A1A1;
  padding-right: 80px;
  display: flex;
  align-items: center;
}
.characteristics .amount {
  margin-left: 240px;
  font-family: "Mont";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #A1A1A1;
}
@media (max-width: 1164px) {
  .characteristics .amount {
    padding-right: 20px;
  }
}
@media (max-width: 700px) {
  .characteristics .amount {
    margin-left: 180px;
  }
}
@media (max-width: 540px) {
  .characteristics .amount {
    margin-left: 150px;
  }
}
@media (max-width: 430px) {
  .characteristics .amount {
    margin-left: 90px;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper_by_product {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper_by_product .delete {
  position: absolute;
  top: 0;
  right: 0px;
}
.wrapper_by_product .delete {
  position: absolute;
}
.wrapper_by_product .product_description {
  font-family: "Mont";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 50%;
  margin-left: 0;
  padding-left: 0;
}
@media (max-width: 1164px) {
  .wrapper_by_product .product_description {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .wrapper_by_product .product_description {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .wrapper_by_product .product_description {
    font-size: 10px;
  }
}
.wrapper_by_product .product_img {
  display: flex;
  align-items: center;
  width: 49%;
}
.wrapper_by_product .product_img img {
  margin-right: 10px;
}
.wrapper_by_product .product_amount {
  font-family: "Mont";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 760px) {
  .wrapper_by_product .product_amount {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .wrapper_by_product .product_amount {
    font-size: 14px;
  }
}
.wrapper_by_product .prodoct_sum {
  font-family: "Mont";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 80px;
}
@media (max-width: 760px) {
  .wrapper_by_product .prodoct_sum {
    font-size: 16px;
    padding-right: 50px;
  }
}
@media (max-width: 430px) {
  .wrapper_by_product .prodoct_sum {
    font-size: 14px;
  }
}

.button_page .home {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-family: "Mont";
  font-weight: 600;
  color: black;
}
.button_page .catalog_btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-family: "Mont";
  font-weight: 800;
  color: black;
}

.section_basket_product {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1056px) {
  .section_basket_product {
    flex-direction: column;
  }
}
.section_basket_product .wrapper_characteristics {
  position: relative;
  width: 80%;
  margin-bottom: 70px;
}
@media (max-width: 1056px) {
  .section_basket_product .wrapper_characteristics {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .section_basket_product .wrapper_characteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.section_basket_product .wrapper_characteristics .line_product img {
  width: 100%;
}
.section_basket_product .wrapper_characteristics .back_to_by {
  margin-top: 30px;
  font-family: "Mont";
  font-size: 18px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #A1A1A1;
  background: white;
  padding: 15px 20px;
  cursor: pointer;
  border: 3px solid #A1A1A1;
  transition: 0.3s;
}
.section_basket_product .wrapper_characteristics .back_to_by:hover {
  background: linear-gradient(#5E3928, #E4A16F);
  color: white;
  border: 3px solid transparent;
}
@media (max-width: 1200px) {
  .section_basket_product .wrapper_characteristics .back_to_by {
    font-size: 16px;
  }
}

.wrapper_oll_product {
  position: relative;
  width: 38%;
  margin-left: 50px;
  justify-content: center;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.0509803922);
  margin-bottom: 120px;
}
@media (max-width: 1164px) {
  .wrapper_oll_product {
    width: 45%;
    margin-left: 20px;
  }
}
@media (max-width: 1056px) {
  .wrapper_oll_product {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .wrapper_oll_product {
    margin: 0;
  }
}
.wrapper_oll_product .line_oll_product {
  width: 100%;
  margin-bottom: 15px;
}
.wrapper_oll_product .line_oll_product img {
  width: 100%;
}
@media (max-width: 760px) {
  .wrapper_oll_product .line_oll_product img {
    width: 80%;
  }
}
.wrapper_oll_product .img_basket {
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper_oll_product .img_basket img {
  width: 100%;
}
.wrapper_oll_product .box_oll_product {
  width: 80%;
}
.wrapper_oll_product .box_oll_product .delivery {
  font-family: "MontLite";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #A1A1A1;
  margin-bottom: 15px;
}
.wrapper_oll_product .oll_product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.wrapper_oll_product .oll_product .text_oll_sum {
  margin-bottom: 60px;
  height: 30%;
  font-family: "Mont";
  font-size: 35px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1360px) {
  .wrapper_oll_product .oll_product .text_oll_sum {
    padding-top: 30px;
  }
}
.wrapper_oll_product .oll_product .text_oll_sum .oll_summ {
  margin-top: 30px;
  font-family: "Mont";
  font-size: 40px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1164px) {
  .wrapper_oll_product .oll_product .text_oll_sum .oll_summ {
    font-size: 30px;
  }
}
.wrapper_oll_product .wrapper_button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.wrapper_oll_product .wrapper_button .checkout {
  width: 80%;
  height: 50px;
  border: none;
  color: white;
  font-family: "Mont";
  font-weight: 600;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#5E3928, #E4A16F);
  cursor: pointer;
  transition: 0.3s;
}
.wrapper_oll_product .wrapper_button .checkout:hover {
  background: linear-gradient(270deg, #5E3928, #E4A16F);
}
@media (max-width: 1200px) {
  .wrapper_oll_product .wrapper_button .checkout {
    font-size: 16px;
  }
}/*# sourceMappingURL=main_card_product.css.map */